
:host {
    display: flex;
    justify-content: center;
    margin: 100px 0px;
  }

  .mat-form-field {
    width: 100%;
    min-width: 400px;
    height: 20vh;
    
  }
mat-card{
    background-color: #c5cae9;
 
}
  mat-card-title,
  mat-card-content {
    display: flex;
    justify-content: center;
    background-color: #c5cae9;
   
    
  }

  .error {
    padding: 16px;
    width: 300px;
   
    background-color: red;
  }

  .Login {
    
    justify-content: flex-start;
  }
  .Register {
    
    justify-content:flex-end;
  }
 